@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=16008,15981,15999,30130');

/* General */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --mandy-light-red: #EB4A5A;
    --catskill-white-light-blue: #F9FAFC;
    --hint-red-light: #F6F3F3;
    --tundora: #434343;
    --Astronaut: #274671;
    --iron: #Cecfcf;
    --sm: 14px;
    --md: 24px;
    --bld: 20px;
    --rg: 16px;
}

body{
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--white);
}

/* navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    background-color: var(--catskill-white-light-blue);
}

/* logo-academlo */
.logo1 {
    margin-left: 30px;
    object-fit: cover;
    height: 50px;
}

/* cart-icon */
#cart-icon {
    font-size: 2.0rem;
    cursor: pointer;
    margin-right: 30px;
}

/* button-cart  */
.nav-button {
    background-color: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--tundora);
    transition: 0.5s;
}

.nav-button:hover {
    transform: scale(1.2);
}

/* cart-counter */
.cart-counter {
    background-color: var(--Astronaut);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 12px;
    position: absolute;
    right: 20px;
}

/* nav-cart-list */
.nav-cart {
    background-color: var(--hint-red-light);
    height: 90vh;
    width: 40%;
    position: fixed;
    top: 50px;
    overflow-y: scroll;
    transition: 0.5s;
    box-shadow: 5px 10px 20px 0px var(--tundora);
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-cart-visible {
    left: 60%;
}

.empty-button {
    border: none;
    width: 150px;
    padding: 10px;
    background-color: var(--mandy-light-red);
    color: var(--white);
    border-radius: 20px;
    margin: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.empty-button:hover {
    transform: scale(1.1);
}

/* header */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    width: 100%;
    height: 300px;
    background-color: var(--mandy-light-red);
}

/* logo-blanco-acemlo */
.logo2{
    object-fit: cover;
    margin-top: 20px;
    height: 200px;
}

/* Menu  */
#menu{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--iron);
    background-color: var(--white);
    width: 190px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}

/* Category */
.category{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

/* Subtitle */
.subtitle {
    font-size: var(--bld);
    color: var(--tundora);
}

/* Container-Products */
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* Products */
.shoping{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1.5rem;
    height: 20px;
}

/* Product */
.product{
    position: relative;
    background-color: var(--white);
    padding: 10px;
    border-radius: 10px;
}

.product:hover{
    padding: 10px;
    border: 1px solid var(--iron);
}

/* image */
img {
    max-width: 80%;
}

.product_img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product_description {
    max-width: 80%;
}

/* Media queries */
@media screen and (max-width: 1920px) {
    .nav-cart {
        width: 20%;
    }
    .nav-cart-visible {
        left: 80%;
    }
}
@media screen and (max-width: 1360px) {
    .nav-cart {
        width: 30%;
    }
    .nav-cart-visible {
        left: 70%;
    }
}
@media screen and (max-width: 900px) {
    .nav-cart {
        width: 35%;
    }
    .nav-cart-visible {
        left: 65%;
    }
}
@media screen and (max-width: 768px) {
    .nav-cart {
        width: 45%;
    }
    .nav-cart-visible {
        left: 55%;
    }
}
@media screen and (max-width: 574px) {
    .nav-cart {
        width: 80%;
    }
    .nav-cart-visible {
        left: 20%;
    }
}

