*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    background-color: #F9FAFC;
}

.logo1{
    margin-left: 30px;
    object-fit: cover;
    height: 30px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    width: 100%;
    height: 200px;
    background-color: #EB4A5A;
}

.logo2{
    object-fit: cover;
    height: 130px;
}

.navigator img{
    margin-right: 30px;
}

#menu{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    border: 1px solid gray;
    background-color: #F9FAFC;
    width: 100px;
    padding-left: 5px;
    border-radius: 5px;
}

